{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <form action="{{ url_for('accountroute') }}" method="post">
        <fieldset>
            {% if bottom %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                         {% set bottom = bottom.replace("-"," ") %}
                         {{bottom}} try again!
                    </div>
                </div>
              </div>
            </div>
            {% endif %}
            <h3> Account settings </h3>
            <p> If you would like to change your password please fill in the following 3 fields.</p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm_password" placeholder=" Confirm Password" type="password"/>
            </div>
            <p> If you would like to change your full name please fill in the field below.</p>
            <div class="form-group">
                <input class="form-control" name="fullname" placeholder="Full name" type="text"/>
            </div>
            <p> If you would like to change your email adress please fill in your adjusted email adress. </p>
            <div class="form-group">
                <input class="form-control" name="email" placeholder="E-mail adress" type="text"/>
            </div>
            <p> If you would like to change your profession, search request or extra search request feel free to adjust it below. </p>
            <div class="form-group" >
                    <div class="dropdown">
                      <select class="form-control" name="work">
                        <option value="I am a ...">I am a ... </option>
                        <option value="Photographer">Photographer</option>
                        <option value="Model">Model</option>
                        <option value="Mua(h)">Mua(h)</option>
                        <option value="Producer">Producer</option>
                        <option value="Stylist">Stylist</option>
                      </select>
            <br>
            <div class="form-group" width=100%>
                    <div class="dropdown" >
                      <select class="form-control" name="search" >
                        <option value="I am looking for a ...">I am looking for a ... </option>
                        <option value="Photographer">Photographer</option>
                        <option value="Model">Model</option>
                        <option value="Mua(h)">Mua(h)</option>
                        <option value="Producer">Producer</option>
                        <option value="Stylist">Stylist</option>
                      </select>
            <br>
            <div class="form-group" width=100%>
                    <div class="dropdown" >
                      <select name="extra_search" class="form-control">
                        <option value="Optional">Optional extra search request</option>
                        <option value="Photographer">Photographer</option>
                        <option value="Model">Model</option>
                        <option value="Mua(h)">Mua(h)</option>
                        <option value="Producer">Producer</option>
                        <option value="Stylist">Stylist</option>
                      </select>
            <br>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Save & change</button>
            </div>

        </fieldset>
    </form>
{% endblock %}
