{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <form action="{{ url_for('accountroute') }}" method="post">
        <fieldset>
            {% if bottom %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                         {% set bottom = bottom.replace("-"," ") %}
                         {{bottom}} and try again!
                    </div>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="old password" placeholder="Old password" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmpassword" placeholder=" Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="fullname" placeholder="Full name" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="email" placeholder="E-mailadress" type="text"/>
            </div>
            <div class="form-group" name="work">
                    <div class="dropdown">
                      <select class="form-control">
                        <option>I am a ... </option>
                        <option>Photographer</option>
                        <option>Model</option>
                        <option>Mua(h)</option>
                        <option>Producer</option>
                      </select>
            <br>
            <div class="form-group" name="search" width=100%>
                    <div class="dropdown">
                      <select class="form-control">
                        <option>I am looking for a ... </option>
                        <option>Photographer</option>
                        <option>Model</option>
                        <option>Mua(h)</option>
                        <option>Producer</option>
                      </select>
            <br>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>

        </fieldset>
    </form>
{% endblock %}
