{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <form action="{{ url_for('deleteroute') }}" method="post">
        <fieldset>
            <body>
                <div class="form-group" >
                    <div class="dropdown">
                      <select class="form-control" name="delete">
                          {% for row in rows %}
                            <option value="{{ row.picture }}">{{ row.picture }}</option>
                          {% endfor %}
                      </select>
                    </div>
                <button class="btn btn-default" type="submit">Delete</button>
            </body>
        </fieldset>
    </form>
{% endblock %}
