{% extends "layout.html" %}

{% block title %}
    Email Sent
{% endblock %}

{% block main %}
    <form action="{{ url_for('email_sentroute') }}" method="post">
        <fieldset>
            <body>
                <h1> Email sent</h1>
                <br>
                an email containing your new password has been sent to your emailadress
                <br>
            </body>
            <button class="btn btn-default" formaction="{{ url_for('mainroute') }}" formmethod="get" type="main">Return to main</button>
        </fieldset>
    </form>
{% endblock %}
