{% extends "layout.html" %}

{% block title %}
    Email Sent
{% endblock %}

{% block main %}
    <form action="{{ url_for('email_sentroute') }}" method="post">
        <fieldset>
            <body>
                <h2> Email sent</h2>
                An email containing your new password has been sent to your email adress.
                <br>
                <br>
            </body>
            <button class="btn btn-default" formaction="{{ url_for('mainroute') }}" formmethod="get" type="main">Return to homepage</button>
        </fieldset>
    </form>
{% endblock %}
