{% extends "layout.html" %}

{% block title %}
    Email Sent
{% endblock %}

{% block main %}
    <form action="{{ url_for('email_sentroute') }}" method="post">
        <fieldset>
            <body>
                <img src="static/img/test.jpg" align="right" width="600px" heigth:"600px" style="padding:40px">
                <h1> Email sent</h1>
                <br>
                an email containing your new password has been sent to your emailadress
                <br>
            </body>
        </fieldset>
    </form>
{% endblock %}
