{% extends "layout.html" %}

{% block title %}
    Find
{% endblock %}

{% block main %}
    <form action="{{ url_for('findroute') }}" method="post">
        <fieldset>
            <body>
                <h2 align="center"> {{ work[0]["work"] }}</h2>
                    <div class="gallery">
                        {% for picture in pictures %}
                        <a>
                            {% if (picture.picture).startswith("http") or (picture.picture).startswith("data") %}
                            <img src="{{picture.picture}}" width="375" height="250" style="padding:5px">
                            {% else %}
                            <img src="static/img/{{picture.picture}}" width="375" height="250" style="padding:5px">
                            {% endif %}
                        </a>
                        {% endfor %}
                {% if bottom %}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                             {% set bottom = bottom.replace("-"," ") %}
                             {{bottom}}.
                        </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <p align="center">
                <form  >
                    <input class="btn btn-danger" type="submit" value="reject" name="reject" style="width:300px" >
                    <input class="btn btn-success" type="submit" value="accept" name="accept" style="width:300px" >
                </form>
                    <div class="gallery">
                        {% for picture in pictures %}
                        <a>
                            {% if (picture.picture).startswith("http") or (picture.picture).startswith("data") %}
                            <img src="{{picture.picture}}" width="375" height="250" style="padding:5px">
                            {% else %}
                            <img src="static/img/{{picture.picture}}" width="375" height="250" style="padding:5px">
                            {% endif %}
                        </a>
                        {% endfor %}
                {% endif %}
            <br>
                </div>
            </body>
        </fieldset>
    </form>
{% endblock %}
