{% extends "layout.html" %}

{% block title %}
    How it works
{% endblock %}

{% block main %}
    <form action="{{ url_for('howitworksroute') }}" method="post">
        <fieldset>
            <body>
                <img src="static/img/test.jpg" align="right" width="600px" heigth:"600px" style="padding:40px">
                <h1> How it works</h1>
                <br>
                <h4> Are you a producer, potographer, model, stylist or mua(h) </h4> and looking for a new project?
                Or are you trying to network? Then you are on the right page!
                This site brings people from the creative industry together and fills up the room with talented people.
                These connections are not formed based on your looks but on your work.
                <br>
                <br>
                You form a portfolio by adding images to your profile and look through the profiles of others.
                When you both like eachother you get matched!
                When you start a new project, do not worry you can change your preferences.
                When you are logged in you can <br> change your account, profile and search for new project partners.
                <br>
                <br>
                <h4> Collab studio makes sure your "studio" is filled with talented people.</h4>

            </body>
        </fieldset>
    </form>
{% endblock %}
