{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('loginroute') }}" method="post">
        <fieldset>
            {% if bottom %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="bs-component">
                        <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                         {% set bottom = bottom.replace("-"," ") %}
                         {{bottom}}, try again!
                    </div>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
            </div>
            <a href="{{ url_for('forgotpasswordroute') }}" style="color:blue"> Forgot password?</a>
            <br>
            <a href="{{ url_for('registerroute') }}" style="color:blue"> Not a member yet? </a>
        </fieldset>
    </form>
{% endblock %}

<script>
        /*global converse*/
    converse.initialize({
        bosh_service_url: 'https://conversejs.org/http-bind/', // Please use this connection manager only for testing purposes
        show_controlbox_by_default: true
    });
</script>