{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
    <form action="{{ url_for('mainroute') }}" method="post">
        <fieldset>
            <form>
                <img src="static/img/eyemedia-studios-inside-picture.jpg " height="300px" width ="100%">
                <img src="static/img/Naamloos-1.jpg" width="400px" height="100px" align ="right" style="margin:30px">
                <p align="left"> <h3> Producer, photographer, stylist, model or mua(h)?</h3>
                Looking for other creative minds for a project or just to network? Collab studio is the place for you!
                <br>
                No worries about your future project, it will come to you if you just register.
                </p>
                <button class="btn btn-default" formaction="{{ url_for('registerroute') }}" formmethod="get" type="register">Register</button>
                <br>
                <br>
                <a href="{{ url_for("loginroute") }}" style="color:blue"> Already a member?</a>
            </form>
        </fieldset>
    </form>
{% endblock %}
