{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="{{ url_for('profileroute') }}" method="post">
        <fieldset>
            <body>
               <form>
                    <p class="bs-component">
                        <a href="{{ url_for('uploadroute') }}"  class="btn btn-default btn-lg btn-block"> Add image</a>
                    </p>
                </form>
                    <div class="gallery">
                        {% for picture in pictures %}
                        <a>
                            <img src="{{picture.picture}}" width="375" height="250" style="padding:5px">
                        </a>
                        {% endfor %}
                </div>
            </body>
        </fieldset>
    </form>
{% endblock %}
