{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="{{ url_for('profileroute') }}" method="post">
        <fieldset>
            <body>
               <form>
                    <p class="bs-component">
                        <a href="{{ url_for('uploadroute') }}"  class="btn btn-default btn-lg btn-block"> Add image</a>
                    </p>
                </form>
                <form>
                    <p class="bs-component">
                        <a href="{{ url_for('deleteroute') }}"  class="btn btn-default btn-lg btn-block"> Delete image</a>
                    </p>
                </form>
                <h2 align="center"> {{ fullname[0]["fullname"] }}</h2>
                    <div class="gallery">
                        {% for picture in pictures %}
                        <a>
                            {% if (picture.picture).startswith("http") or (picture.picture).startswith("data") %}
                            <img src="{{picture.picture}}" width="375" height="250" style="padding:5px">
                            {% else %}
                            <img src="static/img/{{picture.picture}}" width="375" height="250" style="padding:5px">
                            {% endif %}
                        </a>
                        {% endfor %}
                </div>
            </body>
        </fieldset>
    </form>
{% endblock %}
