{% extends "layout.html" %}

{% block title %}
    Regiser
{% endblock %}

{% block main %}
    <form action="{{ url_for('registerroute') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmpassword" placeholder=" Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="fullname" placeholder="Full name" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="email" placeholder="E-mailadress" type="text"/>
            </div>
            <div class="dropdown" name="work">
                <select>
                    <option>I am a ...</option>
                    <option>Photographer</option>
                    <option>Model</option>
                    <option>Mua(h)</option>
                    <option>Producer</option>
                </select>
            </div>
            <div class="dropdown" name="search">
                <select>
                    <option>I'm looking for a ...</option>
                    <option>Photographer</option>
                    <option>Model</option>
                    <option>Mua(h)</option>
                    <option>Producer</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>

        </fieldset>
    </form>
{% endblock %}
