{% extends "layout.html" %}

{% block title %}
    Workspace
{% endblock %}

{% block main %}
    <form action="{{ url_for('workspaceroute') }}" method="post">
        <fieldset>
            <h1 align="center">Workspace</h1>
            <br>
            <p align="center">
                <form>
                    <button class="btn btn-default" formaction="{{ url_for('findroute') }}" formmethod="get" type="Find your match" style="width:200px"> Find match</button>
                    <button class="btn btn-default" formaction="{{ url_for('chatroute') }}" formmethod="get" type="Find your match" style="width:200px"> Chat</button>
                    <button class="btn btn-default" formaction="{{ url_for('profileroute') }}" formmethod="get" type="Profile" style="width:200px"> Profile</button>
                    <button class="btn btn-default" formaction="{{ url_for('accountroute') }}" formmethod="get" type="Account" style="width:200px"> Account </button>
                </form>
        </fieldset>
    </form>
{% endblock %}
