{% extends "layout.html" %}

{% block title %}
    Workspace
{% endblock %}

{% block main %}
    <form action="{{ url_for('workspaceroute') }}" method="post">
        <fieldset>
            <form>
                <button class="btn btn-default" formaction="{{ url_for('findroute') }}" type="Find your match"> Find match</button>
                <button class="btn btn-default" formaction="{{ url_for('profileroute') }}" type="Profile"> Profile</button>
                <button class="btn btn-default" formaction="{{ url_for('accountroute') }}" type="Account"> Account </button>
            </form>
        </fieldset>
    </form>
{% endblock %}
